/* ヘッダー */
.header .wrapper {
  display: flex;
  justify-content: space-between;
}

.header nav {
  display: flex;
  align-items: center;
}

.header ul {
  display: flex;
  font-size: 0.9rem;
  font-weight: 500;
}

.header ul li {
  margin-right: 40px;
}

.header ul li:last-child {
  margin-right: 0;
}

.header .nav {
  border: none;
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

/* メイン */
.main {
  width: 100%;
  padding-top: 40px;
}

.main .wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.main .date {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.main .display {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.main tr {
  border-top: solid #000 1px;
  height: 70px;
}

.main th, .main td {
  height: 100%;
  vertical-align: middle;
}

.main .pagination {
  margin: 0 auto;
}