/* ヘッダー */
.header .wrapper {
  display: flex;
  justify-content: space-between;
}

.header nav {
  display: flex;
  align-items: center;
}

.header ul {
  display: flex;
  font-size: 0.9rem;
  font-weight: 500;
}

.header ul li {
  margin-right: 40px;
}

.header ul li:last-child {
  margin-right: 0;
}

.header .nav {
  border: none;
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

.header .nav:hover {
  color: #fdd35c;
}

/* メイン */
.main {
  width: 100%;
  padding-top: 40px;
}

.main .wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.main .message {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

.main .box-outer {
  margin-top: 40px;
  width: 100%;
  height: 380px;
  position: relative;
}

.main .box-1 {
  width: 48%;
  height: 45%;
  position: absolute;
  top: 0;
  left: 0;
}

.main .box-2 {
  width: 48%;
  height: 45%;
  position: absolute;
  top: 0;
  right: 0;
}

.main .box-3 {
  width: 48%;
  height: 45%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main .box-4 {
  width: 48%;
  height: 45%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.main .button-on {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}

.main .button-on:hover {
  background-color: #fdd35c;
  color: #fff;
}

.main .button-off {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #f2f2f2;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
}

/* ステータスメッセージ */
.main .clear_message {
  color: #3e663e;
  background-color: #c8fac8;
  padding: 24px 48px;
  white-space: nowrap;
  position: fixed;
  bottom: 80px;
  right: 0;
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

.main .error_message {
  color: #663e3e;
  background-color: #fac8c8;
  padding: 24px 48px;
  white-space: nowrap;
  position: fixed;
  bottom: 80px;
  right: 0;
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
  }

  40%,
  100% {
    opacity: 1;
  }
}